body {
    background-color: pink;
  }
  
  h1 {
    color: blue;
    margin-left: 20px;
  }

nav {
    background-color: lightblue;
}

nav a {
    color: green;
    padding: 1rem;
}
