body {
    background-color: rgb(128, 128, 128);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
  }

nav {
    background-color: lightblue;
}

nav a {
    color: green;
    padding: 1rem;
}
.container {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
 
}

.item {
  width: 200px;
  height: 100px;
  margin: 10px;

}

.colorRed {
  background-color: darkgray;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.colorBlue {
  background-color: gainsboro;
  width: auto;
  max-width: 20%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: column;
  flex-direction: column'
}
.link {
  width: 90%;
  height: 25%;
  border-radius: 7px 7px 7px 7px;
  background-color: #252526;
  box-shadow: 2px 2px 2px;
  display: flex;
  justify-content: center;
  color: #D9D9D9; 
  margin-top:16px;
  text-decoration: none