body {
    background-color: rgb(128, 128, 128);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
  }

nav {
    background-color: lightblue;
}

nav a {
    color: green;
    padding: 1rem;
}
.container {
  background-color: rgb(146, 146, 146);
  display: flex;
  flex-wrap: wrap;
 
}

.item {
  width: 200px;
  height: 100px;
  margin: 10px;

}

.colorRed {
  background-color: rgb(228, 228, 228);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.colorBlue {
  background-color: rgb(75, 75, 75);
  width: auto;
  max-width: 20%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: column;
  flex-direction: column;
}